html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Media{
  background-color:#fff;
  height:auto;
  overflow:hidden;
  position:relative;
  transition:.3s;
  cursor:pointer;
  max-height: 80vh;
}

.w-100 {
  width: auto !important;
} 

.Media:hover{
  -webkit-filter:brightness(115%);
  filter:brightness(115%)
}

.carousel-control-prev {
  position: relative;
}

.carousel-control-next {
  position: relative;
}

.carousel-control-prev-icon {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

.carousel-control-next-icon {
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

.animate-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 13%;
  right: 8%;
  border-radius: 50%;
  transition: 0.5s;
}

.brand-logo:hover .animate-icon {
  transform: rotate(-180deg);
}